*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 70%;
    margin: auto;
}
h1 {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.container{
    width: 100%;
    height:600px;
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background:rgb(1, 1, 22);
    padding: 20px;
    border-radius: 10px;
}
.calculator #form button{
    border: 0;
    outline: 0;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px grey, 5px 5px 15px burlywood;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.calculator #form button:hover{
    box-shadow: -8px -8px 15px #be791f, 5px 5px 15px #be791f;
    
}

#form .display{
    display: flex;
    justify-content: flex-end;
    margin:20px;
    background-color: #bfeffc;    
}
#form .display input{
    text-align: right;
    font-size: 45px;
    box-shadow: none;
    color: black;
    background-color: #bfeffc;
    width: 300px !important;
}
#equal-btn{
    width: 145px !important;
}

